
.search-form {
  justify-self: auto;
  display: flex;
  flex: 1;
  margin: 0 10px;
  width: 100%;
  max-width: 500px;
  min-width: 0;
}

.search-form input {
  flex: 1;
  width: 100%;
  min-width: 0;
  flex-grow: 1;
  padding: 8px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 20px 0 0 20px; 
  outline: none;
  background-color: #ffffff; 
  color: #26393f;
}

.search-form:hover {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 1px 8px #bfdbe4;
  border-radius: 20px;
}

.search-form button {
  padding: 8px 16px;
  background-color: #f8f9fa;
  border: 1px solid #e6e6e6;
  border-left: none; 
  border-radius: 0 20px 20px 0; 
  cursor: pointer;
}