.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  padding: 1.5em;
  font-weight: bold;
  color: #FF4500;
  display: flex;
  align-items: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.reddit-text {
  color: #FF4500;
}