.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  padding: 1.5em;
  font-weight: bold;
  font-size: 1.6em;
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.reddit-text {
  color: #0f0f0f;
}