.header {
  display: flex;
  width: 100%;
  left: 0;
  justify-content: center;
  background-color: #ffffff;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  padding: 0 16px;
  height: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  
}

.logo:hover {
  cursor: pointer;
}

.reddit-text {
  color: #0f0f0f;
}